.form-input-item {
    width: 100%;
    height: 2.5rem;
}

.add-schema{
    margin-top: 2rem;
}

.add-schema-link {
    color: darkcyan;
    cursor: pointer;
}

.add-schema-link:hover {
    color: darkcyan;
}

.form-footer {
    margin-top: 4rem;
    width: 100%;
    height: 4rem;
    /* background-color: darkgray; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.select-dropdown {
    margin-bottom: 1rem;
}